<!DOCTYPE html>
<html lang="en">
<head>
    <%= require('html-loader!./layout/head-common.html') %>
    <title><%= htmlWebpackPlugin.options.title%> - 商品详情</title>
    <link rel="stylesheet" type="text/css" href="../../dist/css/index.css">
    <body>
    <%= require('html-loader!./layout/nav.html') %>
    <!--导航栏-->
    <%= require('html-loader!./layout/header.html') %>
    
      <div class="crumb">
      <div class="w">
        <div class="crumb-con">
          <a href="./index.html" class="link">happyShop</a>
          <span>>></span>
          <span class="link-text" href="">商品页</span>
        </div>
      </div>
    </div>
    <div class="page-wrap w"><!--侧边栏导航-->
       
    </div>
      <%= require('html-loader!./layout/footer.html') %><!--页面底部-->
      
</body>
</html>