<%= require('html-loader!./layout/header.html') %>
    <!--搜索的头部-->
    
      <div class="crumb">
      <div class="w">
        <div class="crumb-con">
          <a href="./index.html" class="link">happyShop</a>
          <span>></span>
          <span class="link-text">修改密码</span>
        </div>
      </div>
    </div>
    <div class="page-wrap w"><!--侧边栏导航-->
         <%= require('html-loader!./layout/nav-side.html') %>
     <div class="content with-nav">
      <div class="panel">
         <div class="panel-title">修改密码</div>
         <div class="panel-body">
          <div class="user-info">
             <div class="form-line" id="origin-item">
             <span class="label">原密码：</span><input class="input" id="origin-password" autocomplate="off", value="">
             <span class="text"></span>
             </div>
             <div class="form-line" id="new-item">
              <span class="label">新密码：</span> <input class="input" id="new-password" autocomplate="off", value="">
              </div>
             
             <span class="btn btn-submit">提交</span>
             
           </div>
         </div>
      </div>
     </div>    
    </div>
      <%= require('html-loader!./layout/footer.html') %><!--页面底部-->
      
</body>
</html>