 
<div class="footer">
    <div class="w"><!--友情链接-->
        <div class="links">
        <a href="https://www.imooc.com" class="link" target="_blank">慕课网</a>|
        <a href="https://www.baidu.com" class="link" target="_blank">百度</a>|
        <a href="https://www.taobao.com" class="link" target="_blank">淘宝</a>|
        <a href="https://www.suning.com" class="link" target="_blank">苏宁</a>
    </div>
    <p class="copyright">
        Copyright © 2018 shopBuy.com All Right Reserved
    </p>
    </div>
    
</div>
 <script type="text/javascript" src="https://cdn.bootcss.com/jquery/1.11.3/jquery.js"></script>
 