/*
* @Author: LENOVO
* @Date:   2018-08-15 15:30:45
* @Last Modified by:   LENOVO
* @Last Modified time: 2018-09-04 21:35:27
*/
*{
    margin:0;
    padding: 0;
}
body{
    background: #f6f6fd;
    font: 12px/1.5  tahoma, arial, sans-serif;
}
li{
    list-style: none;
}
img{
    
}
label{
    cursor: pointer;
}
input[type='checkbox']
{
    cursor: pointer;
}
/*定宽布局*/
.w{
    width: 1080px;
    margin: 0 auto;
    position: relative;
    overflow: hidden;/*overflow能清除浮动，在float中，加了overflow后外容器能被内部元素撑开*/
}

/*全局的通用样式*/
.hide{
    display: none;
}
.link{
    color:#999;
    cursor: pointer;
    text-decoration: none;

}
.link:hover{
    color: #e80012;
}
.link-text{
    color: #999;
    text-decoration: none;
}

.btn{
    display: inline-block;
    padding: 0 20px;
    height: 40px;
    line-height: 40px;
    vertical-align: middle;
    border: none;
    background: #c60002;
    font-size: 17px;
    color: #fff;
    outline: none;
    cursor: pointer;
    text-decoration: none;
}
 .btn-mini{
    height: 25px;
    line-height: 25px;
    padding: 10px;
    font-size: 12px;
    padding: 0 10px;
}

.loading{
    margin:10px auto;
    opacity: 0.6;
    display: block;
    background: url('http://www.sucaijishi.com/uploadfile/2013/0527/20130527034921885.gif') no-repeat;
    height: 100px;
    width: 100px;
    border-radius: 5px;
}
/*容器样式*/
.panel{
    padding: 10px;
    margin-bottom: 10px;
    background: #fff;
}
.panel .panel-title{
    padding: 10px;
    font-size: 14px;
    color: #666;
    font-weight: bold;
    border-bottom: 1px solid #eee;
}
.panel .panel-body{
    padding: 10px;
    overflow: hidden;
}